* {
    margin: 0;
    padding: 0;
}
.container {
    width: 88%;
    margin: 50px auto;
    display: flex;
    height: 90vh;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('../image/resources/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.bannner-design{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url("../image/resources/Vectorrr.png");
}
.image-container {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.image-container2 {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.title {
    color: rgb(249, 249, 251);
    font-size: 64px;
    margin-bottom: 100px;
    margin-left:60px ;
    padding: 30px;
}
.conter {
    color: rgb(247, 247, 255);
    margin-top: 290px;
    font-size: 19px;
    margin: 90px;
}
.btn{
    color: #171717;
text-align: center;
font-size: 20px;
font-weight: 700;
margin: 50px;
margin-left: 7%;
margin-bottom: 60px;
}
.btn-5{
    display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
margin-left: 620px;
padding:35px;
}
.image-centar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    padding-top: 37px;
}
.background-image{
    background-image: url("../image/resources/Vectorrr.png" );
    margin-left: 25%px;
    margin-right: 10px;
   background-repeat: no-repeat;
    margin-top: 100px;
}
.colour {
    color: #fef9f9;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
}
.colour-e {
    color: #FFF;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    padding: 16px;
}
.section-title {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    padding-top: 120px;
}
.section-description {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
    margin-top: 20px;
}
.section-info {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin: 0 auto;
}
.back {
    background-color: rgb(245, 203, 203);
    width: 1320px;
    height: 50vh;
    padding-top: 80px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
}
.section-place {
    margin-bottom: 10px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #070211;
}
.section-date {
    color: #070211;
    ;
    margin: 10px;
    text-align: center;
    font-size: 32px;
    font-weight: 600
}
.section-time {
    color: #070211;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}
.text-colour {
    color: #F00;
    padding: 20px;
}
.section-content{
    display: flex;
    padding: 30-px;
    gap: 10px;
}
.text-colour{
    padding: 35px;
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.text-head{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
padding: 35px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.text-dis{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
width: 896px;
padding:35px ;
margin-bottom: 30px;
}
.all style-seven{
    width: 1320px;
    height: 546px;
    background-color: beige;
    padding-top: 50px;
    margin-top: 80px;
    margin-left: 60px;
}
.seven-1{
    width: 150px;
    height: 150px;
    display: flex;
    text-align: center;
    padding-top: 50px;
    margin-left: 550px;
}
.seven-2{
    color: #070211;
text-align: center;
font-size: 48px;
font-weight: 900;
line-height: 1px;
text-transform: capitalize;
padding-top: 50px;
}
.seven-3{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
width: 896px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
padding-top: 50px;
padding-left: 190px;
}

.button-hed{
    display: flex;
    position:relative;
    text-align: center;
    transform: translate(50%,);
    margin: 0 auto;
}
.full-body{
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
margin-top: 70px;
    margin-left: 50px;
    margin-right: 70px;
}
input{
    font-weight: 20px;
    position: relative;
    box-sizing: border-box;
    font-size: 20px;
    width: 500px;
    margin-left: 300px;
}
input[type=text]{
    background: rgb(243, 243, 243);
    width: 440px;
    height: 60px;
    border: none;
}
.radio-1{
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 240px;
    height: 60px;
    background: #F00;
    left: -5px;
    border: none;
    font-size: 20px;
}
.finish-centar{
    background: #101010;
    width: 1250px;
height: 500px;
flex-shrink: 0;
margin-top: 80px;
display: flex;
justify-content: space-between;
}
.footer-coloum{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 90px;
line-height: 40px;
margin-right: 60px;
}
.style-d{
    padding: 120px;
    font-size: 20px;
}
.style-t{
    margin-bottom: 30px;
    margin-left: 120px;
}
.social-link{
    color:white;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 40px;
margin: 122px;
padding-left: 40px;
}
.s-9{
   padding-top: 102px;
}
.im-4{
    margin-left: 500px;
    display: flex;
}
